*.iml
/.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle.properties
/android-sdk/gradle.properties
/android-sdk-plugin-oaid/gradle.properties
/android-sdk-plugin-webbridge/gradle.properties

/.idea/
