*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/android-sdk/gradle.properties
/android-sdk-plugin-oaid/gradle.properties
/android-sdk-plugin-webbridge/gradle.properties

